{% extends 'index.html.twig' %}

{% block title %}Hello GameController!{% endblock %}


{% block body %}

<div class="row col-6">

{{ form_start(gameForm) }}


{{ form_end(gameForm) }}
</div>



{% endblock %}
