{% extends 'index.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block body %}

<div class="row col-6">

    {{ form_start(playerForm) }}
    
    
    {{ form_end(playerForm) }}
    </div>
    

{% endblock %}
